.wrapper {
  position: relative; /* Ensure the cat images position relative to this container */
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cat1 {
    position: absolute;
    top: 200px;
    right: 150px;
    width: 200px; /* Adjust the size as needed */
    height: auto;
    z-index: 1;
    filter: brightness(0) invert(1); /* Makes the image white */
}

.cat2 {
    position: absolute;
    bottom: 150px;
    left: 150px;
    width: 200px; /* Adjust the size as needed */
    height: auto;
    z-index: 1;
    filter: brightness(0) invert(1); /* Makes the image white */
}
  
.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
.heading {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: #fff;
}
  
.form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 20px;
}
  
.group {
    min-width: 320px;
    border-radius: 12px;
    height: 48px;
    overflow: hidden;
}
  
.input {
    background: rgb(48, 43, 43);
    width: 100%;
    height: 100%;
    color: #fff;
    text-indent: 20px;
    font-size: 16px;
}
  
.button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background: #e50a45;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}